* {
  font-family: "Open Sans", sans-serif;
}

main {
  background-image: url("../images/WhatsApp\ Image\ 2023-11-10\ at\ 8.06.07\ PM.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: auto;
}

.loading {
  background-image: url("../images/WhatsApp\ Image\ 2023-11-10\ at\ 8.06.07\ PM.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  & i {
    color: #2196f3;
  }
}
.search {
  width: 100%;
  margin: auto;
  color: #9a9a9a;
  & input {
    width: 100%;
    padding: 5px 10px;
    border: none;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #9a9a9a;
    }
  }
  & i {
    right: 10px;
  }
}

h1 {
  font-size: 4.375rem;
}

.time .inner {
  width: 100%;
  padding: 20px 70px;
  background-color: rgba(255, 255, 255, 0.7);
}

.item {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

#temp {
  font-size: 70px;
  color: #2196f3;
}

@media screen and (min-width: 992px) {
  .search {
    width: 70%;
  }
  .time .inner {
    width: 70%;
  }
}

@media not all and (min-width: 600px) {
  .time .inner {
    padding: 20px 50px;
  }
}
